@font-face {
  font-family: "KBO-Dia-Gothic_bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

#root {
  height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  display: none;
  padding: 2em;
  margin: auto 0;
}

.read-the-docs {
  color: #888;
}

.grid-3x3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;

  button {
    background: #faebcd;
    padding: 0 80px;
    border: 10px solid #fff;
    border-right-color: #aaa;
    border-bottom-color: #aaa;
    font-size: 2em;
    font-family: "KBO-Dia-Gothic_bold";
  }

  button:hover {
    background: #f0d092;
    border: 10px solid #eee;
    border-right-color: #999;
    border-bottom-color: #999;
  }
}

.intro {
  margin: auto 0;
  text-align: center;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;

  p {
    font-family: "KBO-Dia-Gothic_bold";
    color: #ff5500;
    text-shadow: 10px 10px 10px #000;
    text-align: center;
    font-size: 5em;
  }

  button {
    background: #000a7b;
    border: 5px solid #111;
    border-radius: 100px;
    color: #fff;
    align-self: center;
    font-size: 3em;
    font-family: "KBO-Dia-Gothic_bold";
  }

  button:hover {
    background: #000fb8;
    border-color: #646cff;
  }

  button:disabled {
    background: #000a7b;
    border-color: #111;
  }
}

.intro-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url("/main.webp");
  background-size: 100vw 100vh;
  top: 0;
  left: 0;
  z-index: 0;
}

.ingame {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.game {
  margin: auto;
  width: 50%;
  height: 700px;
  background: #0027ffdb;
  border-radius: 5px;
  border: 5px solid #aaa;
  font-family: "KBO-Dia-Gothic_bold";

  h2 {
    background: #01147c;
    margin: 0;
    padding: 18px;
    border-radius: 5px 5px 0 0;
  }

  h3 {
    margin: 0;
    padding: 20px;
  }
}

.game-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: url("/ingame.webp");
  background-size: 100vw 100vh;
  top: 0;
  left: 0;
  z-index: 0;
}

.history {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  h4 {
    border-bottom: 1px solid;
    margin: 0;
    padding: 21px 0;
    text-align: center;
    background: red;
  }

  p {
    text-align: center;
  }
}

.pad {
  margin: auto;
  background: #0000009c;
  border-radius: 12px;
  max-width: 700px;
  padding: 15px;

  input {
    width: Calc(100% - 20px);
    height: 40px;
    margin: 15px 0;
    border-radius: 7px;
    text-indent: 20px;
    letter-spacing: 1.5px;
    background: #faebcd;
    border: 10px solid #fff;
    border-right-color: #aaa;
    border-bottom-color: #aaa;
    font-size: 2em;
    font-family: "KBO-Dia-Gothic_bold";
  }

  input:disabled {
    color: #999;
  }

  .submit {
    width: 100%;
    margin: 15px 0;
    background: #faebcd;
    padding: 1px 22px;
    border: 10px solid #fff;
    border-right-color: #aaa;
    border-bottom-color: #aaa;
    font-size: 2em;
    font-family: "KBO-Dia-Gothic_bold";
  }

  .submit:hover {
    background: #f0d092;
    border: 10px solid #eee;
    border-right-color: #999;
    border-bottom-color: #999;
  }
}
